<article class="_container_footer">
    <section class="_header_footer">
      <div class="_container_logo_mobile">
        <img class="_logo_mobile" src="../../../../assets/images/sb/mabell_logo_final.png" alt="ojo pez volador">
      </div> 
      <div class="_container_logo_desktop">
        <img class="_logo_desktop" src="../../../../assets/images/sb/mabell_isologo_.png" alt="ojo pez volador">
      </div>   
      <section class="_container_contact">     
        <p class="_message">Escribe o llámanos</p>
        <div class="_container_buttons">
          <a target="_blank" href="mailto:mabellstudio.contacto@gmail.com?subject=Consulta&body=Déjanos%20tu%20consulta.">
            <div class="_contact_buttons">  
              <button class="_button_contact" id="icon_email" mat-menu-item>
                <mat-icon class="_icon_nav">alternate_email</mat-icon>
              </button>
            </div>
          </a>
          <a href="https://wa.me/34618863343" target="_blank">
            <div class="_contact_buttons" href="https://wa.me/34618863343">  
              <button class="_button_contact" id="phone" mat-menu-item>
                <mat-icon class="_icon_nav">perm_phone_msg</mat-icon>
              </button>
            </div>
          </a>
        </div>
      </section>
    </section>
    <article class="_container_social_networks">
      <p class="_message" id="follow">Síguenos en nuestras Redes Sociales</p>
      <section class="_container_logos_social_networks">
        <div class="_container_logo_socialnet">
          <a href="https://www.linkedin.com/company/mabell-studio/?viewAsMember=true" target="_blank">
            <img class="_logo_socialnet" 
            src="../../../../assets/images/social_network/linkeding/logo_social_network_linkedin.svg" alt="logo de LinkedIn">
          </a>
        </div>
        <div class="_container_logo_socialnet">
          <a href="https://m.facebook.com/profile.php?id=100093542701545" target="_blank">
            <img class="_logo_socialnet"
            src="../../../../assets/images/social_network/facebook/logo_social_network_face.svg" alt="logo de Facebook">
          </a>
        </div>
        <div class="_container_logo_socialnet">
          <a href="https://www.instagram.com/mabell.studio/" target="_blank">
            <img class="_logo_socialnet"
            src="../../../../assets/images/social_network/instagram/logo_social_network_instagram.svg" alt="logo de Instagram">
          </a>
        </div>
        <div class="_container_logo_socialnet">
          <a href="https://www.tiktok.com/@mabell.studio?lang=es" target="_blank">
            <img class="_logo_socialnet"
            src="../../../../assets/images/social_network/tiktok/logo_social_network_tiktok.svg" alt="logo de TikTok">
          </a>
        </div>
      </section>
    </article>
    
    <div class="_footer_bottom">
      <p class="_copyright"><span>@Copyright</span> | Todos los derechos reservados a <span>mabellstudio</span></p>
    </div>
  
</article> 