<!-- NAVBAR CIRCLE BUTONS -->
<section class="_container_buttons">
    <div class="_container_button">
        <!-- <button (click)="routeToDev()">development</button> -->
        <mat-button class="_button" id="development"
          [ngClass]="developmentActive ? '_active_button' : '_inactive_button'"
          (click)="setButtonsStyle('development')">
        <mat-icon class="_icon_nav" 
          [ngClass]="developmentActive ? '_active_icon' : '_inactive_icon'">developer_mode
        </mat-icon> 
      </mat-button>
      <p class="_text_button _text_button_footer">desarrollo</p>
    </div>
    <div class="_container_button">
        <!-- <button (click)="routeToDesign()">design</button> -->
      <mat-button class="_button" id="design"
        [ngClass]="designActive ? '_active_button' : '_inactive_button'"
        (click)="setButtonsStyle('design')">
        <mat-icon class="_icon_nav"
          [ngClass]="designActive ? '_active_icon' : '_inactive_icon'">local_florist
        </mat-icon>
      </mat-button>
      <p class="_text_button _text_button_footer">diseño</p>
    </div>
    <div class="_container_button">
        <!-- <button (click)="routeToMarketing()">marketing</button> -->

      <mat-button class="_button" id="marketing"
        [ngClass]="marketingActive ? '_active_button' : '_inactive_button'"
        (click)="setButtonsStyle('marketing')">
        <mat-icon class="_icon_nav"
          [ngClass]="marketingActive ? '_active_icon' : '_inactive_icon'">album
        </mat-icon>
      </mat-button>
      <p class="_text_button _text_button_footer">marketing</p>
    </div>
  </section>
  
  <mat-toolbar color="primary" style="position: fixed;">
    <mat-toolbar-row>
      <div class="_container_logo_desktop" (click)="setButtonsStyle('home')">
        <img class="_logo_navbar" src="../assets/images/sb/mabell_logo_final.png"
        alt="Logo de mabellStudio">
      </div>
  
      <div class="_container_logo_mobile" (click)="setButtonsStyle('home')">
        <img class="_logo_navbar" src="../assets/images/sb/mabell_isologo_.png"
        alt="Logo de mabellStudio">
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  