
/* ------------ mabell´s COLORS ------------ */
$first_color: #FFF0FB;
$first_color_medium: #e2e2e2;
$first_color_light: #c7c7c7;
$first_color_lighter: #cccccc;
$first_color_hover: #1a1a1a;
$second_color_dark: #862A80;
$second_color: #862ADC;
$second_color_light: #a67fcb;
$second_color_lighter: #beb6c6;
$third_color: #F71490;
$third_color_light: #f479bd;
$third_color_lighter: #ffdaee;
$quarter_color: #862ADC;
$quarter_color_light: #a67fcb;
$fifth_color: #7AF800;
$fifth_color_light: #C5A9FE;
$accent_color: #862A80;

/* ------------ TIPOGRAPHIES ------------ */
$font-weight-light: 200;

/* ------------ SIZES ------------ */
$height_md: 37px;
$height_lg: 50px;
$height_xl: 70px;

a { text-decoration: none; }