@import '../../../global/global.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) {

  ._container_all {
    padding-top: 18rem;
    height: 50px;
    margin-bottom: 66rem;
    perspective: 800px;
    display: flex;
    justify-content: center; 
  }
  ._container_concepts {
    width: 100vw;
    height: auto;
    padding-top: 5rem;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
  //   transform: translateZ(-50px);
  //   transform-style: preserve-3d;
  //   animation: displayWords;
  //   animation-duration: 5s;
  //   animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  //   animation-delay: 0s;
  //   animation-iteration-count: 1;
  }
  // @keyframes displayWords {
  //   0% { transform: translateZ(800px); 
  //     filter: blur(2rem); }
  //   100% { transform: translateZ(-50px);
  //     filter: blur(0); }
  // }
  h1 { 
    margin: 0;
  }
  ._concept {
    padding: 0rem .1rem;  
    width: auto;
    height: auto;
    margin: auto;
  }
  div._container_btn_fixed {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ._fixed_button {
    padding: .8rem 2rem;
    border-radius: 50px; 
    font-size: 1.2rem;
    border-radius: 25px;
    display: inherit;
    align-items: center;
    position: fixed;
    bottom: 5.5rem;
    z-index: 2;
    border: none;
    cursor: pointer;
    color: $first_color;
    background: linear-gradient(
      0deg, $third_color 33%, 
      $third_color_light 100%
    );
  }
  ._fixed_button:hover {
    background: $second_color_light;
  }

}

/* SCREEN 375px */
  @media (min-width: 375px) {
  ._container_all {
    padding-top: 0rem;
  }
  ._container_concepts {
    height: 60vh;
    max-height: 80vh;
    padding-top: 3rem;  
  }

}

/* SCREEN 425px */
@media (min-width: 425px) {

 article._container_all {
    margin-bottom: 70rem;
 } 
  ._container_concepts {
    height: 100vh;
    padding-top: 8rem;  
  }
  
}

/* SCREEN 768px */
@media (min-width: 768px) { 

  article._container_all {
    margin-bottom: 55rem;
  } 
  ._container_concepts {
    width: 70vw;
    padding-top: 6rem;  
  }

}

/* SCREEN 1024px */
@media (min-width: 1024px) { 

  article._container_all {
    margin-bottom: 35rem;
  } 
  ._container_concepts {
    width: 75vw;
    height: 50vh;
    padding-top: 5rem;  
  }

}

/* SCREEN 1440px */
@media (min-width: 1440px) {

  article._container_all {
    margin-bottom: 45rem;
  } 
  ._container_concepts {
    width: 50vw;
    height: 70vh;
  }
}

/* SCREEN 2560px */
@media (min-width: 2560px) {

  ._container_all {
    padding-top: 0rem;
    height: 50px;
  }
  ._container_concepts {
    padding-top: 0rem;
    width: 30vw;
    height: 100vh;
  }

}