@import '../../../global/global.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) {

  ._container_all {
    padding-top: 18rem;
    height: 50px;
  }
  ._container_parallax {
    width: 100%;
    height: 50vh;
    // perspective-origin: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50vh;
    padding-top: 5rem;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    transform: translateZ(-50px);
    transform-style: preserve-3d;
    animation: displayWords;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
  }
  ._text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: 0 50%;
  }
  ._text_front {
    transform: translateZ(2px) scale(0.75);
    transform-origin: top;
  }
  ._text_middle {
    height: 100%;
    width: 100%;
    transform: translateZ(5px) scale(0.375);
    transform-origin: 50%;
  }
  ._text_back {
    height: auto;
    width: 100%;
    transform: translateZ(0px) scale(1);
    transform-origin: 0 50%;
  }
  ._container_all {
    perspective: 800px;
    display: flex;
    justify-content: center; 
  }  
  section._container_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    margin-bottom: 3rem;
  }
  ._container_concepts {
    width: 100vw;
    height: auto;
    // max-height: 50vh;
    padding-top: 5rem;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    transform: translateZ(-50px);
    transform-style: preserve-3d;
    animation: displayWords;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
  }
  @keyframes displayWords {
    0% { transform: translateZ(800px); 
      filter: blur(2rem); }
    100% { transform: translateZ(-50px);
      filter: blur(0); }
  }
  h1 { 
    margin: 0;
  }
  ._concept {
    padding: 0rem .1rem;  
    width: auto;
    height: auto;
    margin: auto;
  }
  div._container_btn_fixed {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ._fixed_button {
    padding: .5rem 1rem;
    border-radius: 25px;
    display: inherit;
    align-items: center;
    position: fixed;
    bottom: 8.5rem;
    z-index: 1;
    border: none;
    cursor: pointer;
    color: $first_color;
    background: linear-gradient(
      0deg, $third_color 33%, 
      $third_color_light 100%
    );
  }
  ._fixed_button:hover {
    background: $second_color_light;
  }
  .mat-icon._icon_contact {
    margin-right: .5rem;
  }
  ._footer {
    position: relative;
    top: 45rem;
  }

}

/* SCREEN 375px */
  @media (min-width: 375px) {
  ._container_all {
    padding-top: 0rem;
    // height: 40rem;
  }
  ._container_concepts {
    height: 60vh;
    max-height: 80vh;
    padding-top: 3rem;  
  }

}

/* SCREEN 326px */
@media (min-width: 326px) { 
 
  .fixed-button {
    bottom: 7rem;
  }

}

/* SCREEN 490px */
@media (min-width: 490px) {

  ._container_concepts {
    height: 100vh;
    padding-top: 8rem;  
  }
  
}

/* SCREEN 768px */
@media (min-width: 768px) { 

  ._container_concepts {
    width: 70vw;
    padding-top: 6rem;  
  }

}

/* SCREEN 1024px */
@media (min-width: 1024px) { 

  ._container_concepts {
    width: 75vw;
    height: 50vh;
  }
  ._container_concepts {
    padding-top: 5rem;  
  }

}

/* SCREEN 1440px */
@media (min-width: 1440px) {

  ._container_concepts {
    width: 50vw;
    height: 70vh;
  }

}

/* SCREEN 2560px */
@media (min-width: 2560px) {

  ._container_all {
    padding-top: 0rem;
    height: 50px;
  }
  ._container_concepts {
    padding-top: 0rem;
    width: 30vw;
    height: 100vh;
  }
  .fixed-button {
    bottom: 15rem;
  }

}