@import '../global/global.component.scss';

div#_container_notfound,
div._notfound {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 .5rem;
}
div.notfound {
  height: 100vh;
}
._logo {
  width: 10rem;
  margin-bottom: 7rem;
}
h2._message {
  text-align: center;
  font-weight: 200;
  color: $accent_color;
}
button._back_button {
  background-color: $accent_color;
  color: $first_color;
  border-radius: 50px;
  padding: .5rem 2rem;
  border: none;
  cursor: pointer;
}
button._back_button:hover {
  background-color: $second_color;
}
