@import './app/global/global.component.scss';

body {
  margin: 0px;
  background-color: $first_color;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
