@import '../../../global/global.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) {
  .highlighted {
    color: red;
    font-weight: bold;
  }

  article._container_all {
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
  }
  .bold-text {
    font-weight: bold;
  }
// TITTLE
  section._container {
    height: auto;
    padding-top: 0rem;
    margin: 0 1rem 1rem 1rem
  }
  div._container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.2rem .5rem;
  }
  ._icon_nav {
    color: $second_color;
  }
  h1._title {
    font-size: 1.2rem;
    font-weight: 300;
    color: $accent_color;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

// CARDS
  div._card_complete {
    margin-bottom: 1rem;
  }
  div._card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 6px rgba(134, 42, 128, 0.178);
  }
  div._container_img_card {
    display: flex;
    margin: 0 1rem 0 1rem;
    background-color: white;
    border-radius: 0 0 25px 25px;
    box-shadow: 0px 0px 6px rgba(134, 42, 128, 0.178);
  }
  img._card_img {
    width: 100%;
    height: auto;
    border-radius: 0 0 25px 25px;
  }
  ul._text_card {
    color: $second_color_dark;
    margin-block-start: .5em;
    margin-block-end: 2em;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    line-height: 1.4;
    padding-inline-start: 1.5rem;
  }
  li._li {
    margin: .5rem 0;
  }
  .highlighted {
    font-weight: bold;
  }
  ._btn_see_more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
    padding: .2rem 1rem;
    border-radius: 25px;
    background-color:$third_color;
    cursor: pointer;
    border: none;
    width: auto;
    height: auto;
    color: $first_color;
    font-size: small;
    font-weight: 600;
  }
  h4 {
    text-transform:capitalize;
    display: block;
    margin-block-start: .7rem;
    margin-block-end: .7rem;
    font-weight: lighter;
    color: $second_color;
    font-size: x-large;
  }

}


/* SCREEN 768px */
@media (min-width: 768px) {
 
  // CARDS
  section._container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  div._card {
    width: 14rem;
    margin: auto;
  }
  button._btn_see_more:hover {
    background-color:$second_color_light;
  }
  h4 {
    font-size: large;
  }

}

/* SCREEN 1024px */
@media (min-width: 1024px) {

  // CARDS
    section._container {
      justify-content: center;
    }
    div._card {
      width: 18rem;
      margin: 0 1rem;
    }
    h4 {
      font-size: x-large;
    }
  
  }
  

/* SCREEN 1336px */
@media (min-width: 1336px) {

// CARDS
  div._card {
    width: 22rem;
  }

}

/* SCREEN 1920px */
@media (min-width: 1920px) {

  // ._container_item {
  //   width: 22vw;
  // }

}